body {
    background-color: black;
    color: white;

    font-family: Georgia, 'Times New Roman', Times, serif;
}   

h3{
    border-bottom: #ffffff;
    border-style: solid;
    padding: 20px;
    margin-bottom: 20px;
}


#highscore{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#high_scores_list{
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.beautiful-btn{
    background-color: #0371e3;
    border: none;
    border-radius: 30%;
    padding: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
   
    
}