body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}   

.conteiner {
    margin-left: 30px;
}



.highscore{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: salmon;
    text-align: center;
    padding: 40px;
    width: 250px;
}