body {
    background-color: black;
    color: white;

    font-family: Georgia, 'Times New Roman', Times, serif;
}   

#questions /*conteiner for all question, answers and input initials*/{
    vertical-align: middle;

}
#initial-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.beautiful-btn{
    background-color: #0371e3;
    border: none;
    border-radius: 30%;
    padding: 10px;
    color: white;
    
}


.bg-dark{
    background-color: black;
}


#start:hover{
    background-color: #0055b1;
}

#start:active{
    outline: none;
}

#startheader {
    text-align: center;
}

#starttext {
    text-align: center;
}


#questions {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question {
    padding-bottom: 20px;
}

#answers{
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
}


#answerResult /*text telling if answer was correct or wrong*/{
    font-family: 'Bangers', cursive;
    font-size: 22px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    margin-top: 20px;
    text-align: center;
}

#resultScore{
    /* display: inline-block;
    padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#timer {
    white-space: nowrap;
    display: inline;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}