body {
    background-color: black;
    color: white;

    font-family: Georgia, 'Times New Roman', Times, serif;
}   

#questions /*conteiner for all question, answers and input initials*/{
    vertical-align: middle;

}
#initial-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.beautiful-btn{
    background-color: #0371e3;
    border: none;
    border-radius: 30%;
    padding: 10px;
    color: white;
    
}

.bg-dark{
    background-color: black;
}


#start:hover{
    background-color: #0055b1;
}

#start:active{
    outline: none;
}

#startheader {
    text-align: center;
}

#starttext {
    text-align: center;
}


#answers /*ansswer options 3 conteiner*/{
    padding: 40px;
}



#answerResult /*text telling if answer was correct or wrong*/{
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}

#resultScore{
    display: inline-block;
    padding-bottom: 20px;
}
#timer {
    font-size: 20px;
    margin-left: 20px;
}